html {
  background-color: #F4F1DE;
  color: #3D405B;
  font-family: 'Fanwood Text', Georgia, Garamond, serif;
  font-size: 1.4em; 
  line-height: 1.2em; 
  padding: 1.2em; 
  text-rendering: optimizeLegibility;
}
main {
  width: 1000px;
  margin: auto;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
}
h1 {
  display: block;
  background-color: #81B29A;
  font-size: 3em;
  padding: 1.2em;
  line-height: 1.9em;
  text-align: center;
}
#submitgroup input {
  background-color: #81B29A;
  color: #3D405B;
  text-align: center;
}
input {
  border-color: #E07A5F;
}
alert {
  color: #E07A5F;
}
p {
  padding: 1em;
  
}
/* media queries*/
@media (hover: hover) {
  #submitgroup input {
    background-color: #C3EBD7;
    box-shadow: 5px 5px 5px #3D405B;
  }
}
@media (max-width: 1200px) and (min-width: 901px) {
  h1 {
    font-size: 2em;
    border: solid;
    border-color: #E07A5F;
    text-decoration: underline;
  }
  main {
    width: 800px;
    border: solid;
    border-color: #E07A5F;
  }
  html {
    background-color: #81B29A;
  }
  #submitgroup input {
    background-color: #F4F1DE;
    color: #E07A5F;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 2em;
    background-color: #F4F1DE;
  }
  main {
    width: 600px;
  }
  html {
    background-color: #81B29A;
  }
}