html {
  background-color: #F4F1DE;
  color: #3D405B;
  font-family: 'Fanwood Text', Georgia, Garamond, serif;
  font-size: 1.4em; 
  line-height: 1.2em; 
  padding: 1.2em; 
  text-rendering: optimizeLegibility;
}
main {
  width: 1000px;
  margin: auto;
  text-align: left;
  display: block;
  flex-wrap: nowrap;
}
h1 {
  display: block;
  background-color: #81B29A;
  font-size: 3em;
  padding: 1.2em;
  line-height: 1.9em;
  text-align: center;
}
}
input {
  border-color: #E07A5F;
}
alert {
  color: #E07A5F;
}
p {
  padding: 1em;
  font-size: 1.75em;
  text-align: center;
}
/* media queries*/
@media (max-width: 1200px) and (min-width: 901px) {
  h1 {
    font-size: 2em;
    text-decoration: underline;
    display: grid;
    background-color: #F4F1DE;
  }
  main {
    width: 800px;
    display: grid;
    background-color: #F4F1DE;
  }
  html {
    background-color: #81B29A;
  }
  #submitgroup input {
    background-color: #F4F1DE;
    color: #E07A5F;
  }
  p {
    font-size: 1.2em;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 2em;
    background-color: #F4F1DE;
    text-decoration: underline;
    display: grid;
  }
  main {
    width: 75%;
    display: grid;
  }
  html {
    background-color: #81B29A;
  }
  p {
    font-size: 1.2em;
  }
}